\[Unit]
Description=Power Button & LED handler
After=ssh.service

[Service]
ExecStart=/usr/bin/powerbuttond.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
