\[Unit]
Description=gpiodaemon - handles GPIO setup for rpi2caster and shutdown/reboot buttons
After=ssh.service

[Service]
ExecStart=/usr/bin/gpiodaemon.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
